.heading {
	color: #333;
}

button {
	border: none;
	border-radius: 20px;
	min-width: 60px;
	min-height: 20px;
	padding: 8px 16px;
	text-align: center;
	cursor: pointer;
	color: white;
	margin: 0px 5px;
}

.componentModal{
	background-color: rgba(236, 72, 153)
}

.alertModal{
	background-color: rgba(245, 158, 11)
}

.confirmationModal{
	background-color: rgba(16, 185, 129);
}